<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form action="">
            <input type="text" name="guess">
            <input type="submit" value="Guess!">
        </form>
    <%= message %>
    <%= cheat if !cheat.empty? %>
    <style>
  .high{
    background: red;
  }
  .low{
    background: blue;
  }
  .correct{
    background: green;
  }
    </style>
    </body>
</html>
