.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
/*---------------------*/
/* STRUCTURE & GENERAL */
/*---------------------*/
html {
  position: relative;
  min-height: 100%;
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif;
  color: #fff; }

body a {
  text-decoration: none;
  color: #000; }

/*Clearfix*/
.cf:after,
.cf:before {
  display: table;
  content: ""; }

.cf:after {
  clear: both; }

.row {
  margin: 0;
  padding: 0; }

.wrapper {
  padding-right: 10px; }

/*---------------------*/
/*    HEADER & NAV     */
/*---------------------*/
header {
  height: 45px; }
  header nav {
    height: 100%;
    background-color: #3b5998; }
    header nav .left-menu {
      height: 100%;
      padding-left: 60px; }
      header nav .left-menu .logo {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-top: 13px;
        background-image: url("../images/sprite.png");
        background-position: 0 2%;
        background-size: initial; }
      header nav .left-menu input {
        position: relative;
        top: -19%;
        display: inline-block;
        width: 400px;
        margin-bottom: 10px;
        padding-left: 10px;
        border: 0;
        -webkit-border-bottom-left-radius: 2px;
        border-bottom-left-radius: 2px;
        -webkit-border-top-left-radius: 2px;
        border-top-left-radius: 2px;
        background-clip: padding-box; }
      header nav .left-menu button {
        position: relative;
        top: -19%;
        left: -1%;
        width: 40px;
        height: 22px;
        padding: 0;
        border: 0;
        background-color: white;
        -webkit-border-bottom-right-radius: 2px;
        border-bottom-right-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        border-top-right-radius: 2px;
        background-clip: padding-box; }
        header nav .left-menu button img {
          width: 14px; }
    header nav .right-menu {
      height: 100%;
      padding-left: 65px; }
      header nav .right-menu ul {
        display: inline-block;
        min-height: 100%;
        margin: 0;
        padding-top: 10px;
        vertical-align: top; }
        header nav .right-menu ul li {
          display: inline-block;
          height: 25px;
          margin-right: 15px; }
      header nav .right-menu ul.list1 {
        margin-right: 30px; }
        header nav .right-menu ul.list1 .list-item1 {
          padding-left: 30px;
          background-image: url("../images/facebook14");
          background-repeat: no-repeat;
          background-size: 25px; }
      header nav .right-menu ul.list2 li {
        height: 20px;
        margin-right: 5px;
        padding-left: 25px;
        opacity: 0.7;
        background-image: url("../images/sprite.png"); }
      header nav .right-menu ul.list2 .list-item1 {
        background-position: 0 108%; }
      header nav .right-menu ul.list2 .list-item2 {
        background-position: 0 38.7%; }
      header nav .right-menu ul.list2 .list-item3 {
        margin-right: 35px;
        background-position: 0 12.1%; }
      header nav .right-menu ul.list2 .list-item4 {
        background-position: 0 55%; }
      header nav .right-menu ul.list2 .list-item5 {
        height: 15px;
        background-position: 0 -14.2%; }

/*---------------------*/
/* 		CONTENT  	   */
/*---------------------*/
.main {
  max-width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 45px;
  padding-left: 60px;
  color: #000;
  background-color: #e9ebee; }
  .main ul {
    margin-bottom: 20px; }
    .main ul li {
      height: 20px;
      margin-bottom: 5px;
      padding-left: 27px;
      transition: all 0.2s ease-in-out;
      border-color: #ccc; }
  .main h3 {
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    color: #3b5998; }

main > div {
  margin-right: 10px; }

.sidenav {
  padding: 15px 0 0; }
  .sidenav span {
    float: right;
    font-size: 75%;
    text-align: right;
    opacity: 0.3; }
  .sidenav li.active {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: white; }
  .sidenav li:hover {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: white; }
  .sidenav .list1 .list-item1 {
    margin-bottom: 10px;
    background-image: url("../images/facebook14");
    background-repeat: no-repeat;
    background-size: 20px; }
  .sidenav .list1 .list-item2,
  .sidenav .list1 .list-item3,
  .sidenav .list1 .list-item4 {
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 1% 38.9%;
    background-size: 35px; }
  .sidenav .list1 .list-item3,
  .sidenav .list1 .list-item4 {
    background-position: 1% 17.32%; }
  .sidenav .list2 .list-item1,
  .sidenav .list2 .list-item2 {
    background-image: url("../images/facebook9");
    background-repeat: no-repeat;
    background-size: 20px; }
  .sidenav .list2 .list-item2 {
    background-image: url("../images/facebook6"); }
  .sidenav .list2 .list-item3,
  .sidenav .list2 .list-item4 {
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 0 91.4%;
    background-size: 35px; }
  .sidenav .list2 .list-item4 {
    height: 22px;
    background-image: url("../images/sprite2.png");
    background-position: 1% 58.3%;
    background-size: 37px; }
  .sidenav .list3 li[class^="list-item"] {
    background-image: url("../images/sprite2.png");
    background-repeat: no-repeat;
    background-position: 1% 24.2%;
    background-size: 35px; }
  .sidenav .list3 li.list-item2 {
    background-position: 1% 44.7%; }
  .sidenav .list3 li.list-item3 {
    background-position: 1% 33.3%; }
  .sidenav .list3 li.list-item4 {
    background-position: 1% 40.2%; }
  .sidenav .list3 li.list-item5 {
    background-position: 1% 51.5%; }
  .sidenav .list3 li.list-item6 {
    color: #3b5998;
    background-position: 1% 3.5%; }
  .sidenav .list4 li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #3b5998; }

.status-feed {
  margin-top: 10px;
  padding: 0; }
  .status-feed .wrapper-inner {
    border: 1px solid #ccc; }
  .status-feed ul {
    margin: 0;
    padding: 5px; }
    .status-feed ul li {
      display: inline-block; }
  .status-feed .status-header {
    border-bottom: 1px solid #ccc;
    background-color: #e8e8e8; }
    .status-feed .status-header li {
      margin: 0;
      padding: 0 5px;
      font-size: 90%;
      font-weight: bold;
      color: #333333;
      color: #3b5998; }
      .status-feed .status-header li i {
        color: #000; }
    .status-feed .status-header li:first-child:after {
      position: relative;
      left: 8px;
      content: "|";
      opacity: 0.5; }
  .status-feed .status-body {
    position: relative;
    width: 100%;
    height: 70px; }
    .status-feed .status-body .status-image {
      position: absolute;
      z-index: 10;
      top: 17%;
      left: 5px; }
    .status-feed .status-body form {
      height: 100%; }
    .status-feed .status-body input {
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 55px;
      border: none; }
    .status-feed .status-body:after {
      position: absolute;
      left: 18px;
      width: 90%;
      height: 1px;
      content: "";
      background: rgba(128, 128, 128, 0.21); }
  .status-feed .status-footer {
    padding-top: 10px;
    background-color: #fff; }
    .status-feed .status-footer li {
      background-image: url("../images/sprite2.png") !important;
      background-repeat: no-repeat;
      background-position: 1% 24.2%;
      background-size: 35px; }
    .status-feed .status-footer .list-item1 {
      background-position: 1% 11.6%; }
    .status-feed .status-footer .list-item2 {
      background-position: 1% 5.9%; }
    .status-feed .status-footer .list-item3 {
      opacity: 1;
      color: transparent;
      background-image: none;
      background-position: 1% 8.2%; }
    .status-feed .status-footer .bg {
      position: relative;
      top: -3px;
      display: inline-block;
      width: auto;
      height: 30px;
      padding: 5px 10px;
      vertical-align: middle;
      background-color: rgba(204, 204, 204, 0.28);
      -webkit-border-bottom-left-radius: 100px;
      border-bottom-left-radius: 100px;
      -webkit-border-top-left-radius: 100px;
      border-top-left-radius: 100px;
      background-clip: padding-box;
      -webkit-border-bottom-right-radius: 100px;
      border-bottom-right-radius: 100px;
      -webkit-border-top-right-radius: 100px;
      border-top-right-radius: 100px;
      background-clip: padding-box; }

.overview {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff; }
  .overview .btn.fb-btn {
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: #3b5998; }
  .overview .title {
    font-weight: bold;
    color: #a6a6a6; }
  .overview .first.title {
    position: relative; }
  .overview .first.title:after {
    position: absolute;
    top: 25px;
    left: 0;
    width: 95%;
    height: 1px;
    content: "";
    background: rgba(128, 128, 128, 0.21); }
  .overview p.logo {
    position: relative;
    height: 35px;
    padding-top: 2.5%;
    padding-left: 35px;
    font-weight: bold;
    color: #3b5998;
    background-image: url("../images/facebook9");
    background-repeat: no-repeat;
    background-size: 28px; }
    .overview p.logo:after {
      position: absolute;
      top: 40px;
      left: 0;
      width: 95%;
      height: 1px;
      content: "";
      background: rgba(128, 128, 128, 0.21); }
  .overview .ad {
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 15px; }
    .overview .ad .btn,
    .overview .ad p:nth-child(3) {
      margin-left: 68px; }
    .overview .ad img {
      float: left;
      height: 60px;
      padding-top: 5px;
      vertical-align: text-top; }
    .overview .ad:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 1px;
      content: "";
      background: rgba(128, 128, 128, 0.21); }
  .overview .engagement {
    position: relative;
    margin-bottom: 5px; }
    .overview .engagement div {
      position: relative;
      display: inline-block;
      width: 49%;
      height: 60px;
      margin: 0 auto;
      text-align: center;
      color: #3b5998; }
      .overview .engagement div:nth-child(2):after {
        position: absolute;
        top: 0;
        right: 4px;
        width: 1px;
        height: 70%;
        content: "";
        background-color: #ccc; }
      .overview .engagement div span {
        display: block;
        font-size: 135%;
        color: #000; }
    .overview .engagement:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 1px;
      content: "";
      background: rgba(128, 128, 128, 0.21); }
  .overview .messages .btn {
    margin-bottom: 5px;
    margin-left: 30px; }
  .overview .messages .more,
  .overview .messages p:not(:first-child) {
    padding-left: 30px;
    font-weight: bold;
    color: #3b5998;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    background-position: 1% 38.5%; }
  .overview .messages .more {
    font-weight: normal;
    background-position: 1% 87.5%; }

.chat {
  position: relative;
  padding: 7px;
  border: 1px solid #ccc;
  padding-bottom: 15px; }
  .chat ul h3 {
    color: #595959; }
  .chat ul li {
    height: 30px;
    line-height: 30px;
    font-size: 85%;
    padding-left: 35px;
    background-image: url("../images/facebook1");
    background-repeat: no-repeat;
    background-size: 30px;
    position: relative; }
    .chat ul li.list-item2 {
      background-image: url("../images/facebook2"); }
    .chat ul li.list-item4 {
      background-image: url("../images/facebook4"); }
    .chat ul li.list-item5 {
      background-image: url("../images/facebook5"); }
    .chat ul li.list-item8 {
      background-image: url("../images/facebook8"); }
    .chat ul li.list-item10 {
      background-image: url("../images/facebook10"); }
    .chat ul li.list-item3 {
      background-image: url("../images/facebook16"); }
    .chat ul li.list-item6 {
      background-image: url("../images/facebook13"); }
    .chat ul li.list-item7 {
      background-image: url("../images/facebook12"); }
    .chat ul li.list-item9 {
      background-image: url("../images/facebook11"); }
    .chat ul li.list-item11 {
      background-image: url("../images/facebook15"); }
    .chat ul li.list-item12 {
      background-image: url("../images/facebook17"); }
    .chat ul li.list-item13 {
      background-image: url("../images/facebook18"); }
    .chat ul li span:after {
      right: 0;
      top: 37%;
      z-index: 10;
      position: absolute;
      content: "";
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background-clip: padding-box;
      background-color: green;
      width: 5px;
      height: 5px; }
  .chat form input {
    z-index: -99999;
    padding-left: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc; }
  .chat form:before {
    right: 10px;
    z-index: 9999;
    width: 15px;
    background-position: 10% 42.7%;
    opacity: 0.3;
    height: 15px;
    content: "";
    background-image: url("https://www.facebook.com/rsrc.php/v3/y1/r/cRMhZeocz81.png");
    position: absolute; }
  .chat form:after {
    z-index: 9999;
    width: 15px;
    background-position: 10% -12.66%;
    height: 15px;
    content: "";
    background-image: url("https://www.facebook.com/rsrc.php/v3/y1/r/cRMhZeocz81.png");
    position: absolute; }

/*---------------------*/
/* 		FOOTER 		   */
/*---------------------*/

/*# sourceMappingURL=style.css.map */
